:host {
  display: block;
  p {
    color: #7f8c8d;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }
}
.padre-a-container {
  border: 1px solid red;

  p {
    background-color: rgb(243 201 201);
    border-bottom: 1px solid red;
  }
  .content {
    padding: 0.5rem;
  }
}