:host {
  display: block;
  p {
    color: black;
    font-size: 1.1rem;
    margin: 0;
    padding: 1rem;
  }
}
.nieto-a-container {
  border: 1px solid blue;

  p {
    background-color: rgb(174, 174, 255);
    border-bottom: 1px solid blue;
  }
  .content {
    padding: 0.5rem;
  }
  .info {
    background-color: white;
  }
}