.carga-diferida-container {
  h1 {
    margin-top: 0;
    color: #2c3e50;
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    border-bottom: 0.125rem solid #3498db;
    padding-bottom: 0.5rem;
  }
  p {
    color: #7f8c8d;
    font-size: 1.1rem;
    margin: 0.5rem;
  }
  pre {
    margin: 0;
  }
}

