<div class="container">
  <h1>Datos Padre-Hijo</h1>
  <p>Aquí se trabajará con el flujo de información entre componentes padre e hijo.</p>
  <p> El contenedor principal pasa la info al componente nieto.
    Y el componente nieto tiene un input para cambiar la info y emitir el evento hacia el contenedor principal.
  </p>
  <div class="main-content">
    <p>Contenedor pricipal: renderiza el componente Padre</p>
    <div class="content">
      <div class="item">
        <p>Haciendo prop drilling</p>
        <app-padre-a 
          [info]="info()"
          (changeOutput)="setInfoA($event)">
        </app-padre-a>
      </div>
      <div class="item">
        <p>Usando un servicio compartido</p>
        <app-padre-b></app-padre-b>
      </div>
    </div>
  </div>
</div>