.home-container {
  padding: 1rem;
  
  h1 {
    color: #2c3e50;
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    border-bottom: 0.125rem solid #3498db;
    padding-bottom: 0.5rem;
  }
  
  .topics-list {
    list-style: none;
    padding-left: 0;
    color: #2c3e50;
  }
}

