:host {
  display: block;
  p {
    color: #7f8c8d;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }
}
.hijo-b-container {
  border: 1px solid green;

  p {
    background-color: rgb(182 243 182);
    border-bottom: 1px solid green;
  }
  .content {
    padding: 0.5rem;
  }
}
