<div class="referencias-container">
  <h1>Referencias</h1>
  <ul class="reference-list">
    @for (item of referenciasUrl; track item) {
    <ng-container  
      [ngTemplateOutlet]="refItem" 
      [ngTemplateOutletContext]="{item}">
    </ng-container>
    }
  </ul>

</div>

<ng-template #refItem let-item="item">
  <li class="item">
    <p>{{item.titulo | bracketsPipe }}</p>
    <a [href]="getSafeUrl(item.url)" target="_blank" rel="noopener noreferrer">{{ item.url }}</a>
  </li>
</ng-template>